{% extends 'base.html.twig' %}

{% block title %}Создание курса/StudyOn{% endblock %}

{% block body %}

    <div class="row mx-5 mt-3 justify-content-center">
        <h1 class="text-center mb-5">Создание новго курса</h1>


        {{ include('course/_form.html.twig') }}

        <a class="btn btn-outline-primary mt-3 fs-5" style="width: 200px" href="{{ path('app_course_index') }}">к списку
            курсов</a>
    </div>

{% endblock %}
